<div class="container">
  <div class="form-block">
    <h2>Paramètres</h2>
    <label>Votre addresse :</label>
    <p><%= @user.location %></p>
    <label>Vos genres de musique :</label>
    <% if @user.genres == [] %>
      <p>Vous n'avez pas encore sélectionné de genre !</p>
    <% end %>
    <div class="tag-group">
      <% @user.genres.each do |genre| %>
        <p class="music-tag"><%= genre %></p>
      <% end %>
    </div>
    <label>Pour des concerts, vous vous déplacez de :</label>
    <p><%= @user.move_radius %>km<p>
    <%= link_to "Modifier", edit_profile_path(current_user), class: "btn-mls-profile" %>
  </div>
</div>

