h2 {
  color: #F18668;
}

.index-title-home {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 80px;
}

.fa-map-marker-alt {
  color: #12193F;
}
.fa-heart {
  color: #12193F;
}

.fa-user-friends {
  color: #12193F;
}

.wrapper-blue {
  background-color: #40499B;
}

.btn-blue {
  background-color: #12193F;
}
