h2 {
  color: #F18668;
}

.fa-map-marker-alt {
  color: #12193F;
}
.fa-heart {
  color: #12193F;
}

.fa-user-friends {
  color: #12193F;
}

.wrapper-blue {
  background-color: #40499B;
}

.btn-blue {
  background-color: #12193F;
}
