//concert show

.show-container {
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 130px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.concert-poster-show img {
  width: 500px;
  height: 78vh;
  border-radius: 14px;
  object-fit: fill;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
}

.band-genre-show {
  color: $mls-blue;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.band-title-show {
  font-size: 54px;
  font-weight: 300;
  color: #100F3E;
  text-decoration: none;
}

.link-title-show a:hover {
  text-decoration: none;
}

.concert-date-show {
  font-size: 20px;
  font-weight: 800;
  color: #100F3E;
}

.concert-hour-show {
  font-size: 20px;
  font-weight: 800;
  color: #100F3E;
  border-left: solid;
  border-right: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.25);
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 55px;
  margin-right: 55px;
}

.concert-price-show {
  font-size: 20px;
  color: $mls-orange;
  font-weight: 800;
}

.concert-description-show {
  font-size: 20px;
  font-weight: 400;
  color: rgba(55, 58, 60, 0.55);
  margin-top: 20px;
}

.concert-localisation-show {
  font-size: 20px;
  color: #100F3E;
  font-weight: 800;
  margin-top: 60px;
}

.concert-participations-show {
  display: flex;
  margin-top: 40px;
}

.concert-participations-show .participations-count-show {
  font-size: 20px;
  font-weight: 800;
  color: $mls-blue;
  margin-right: 5px;
}

.concert-participations-show .participations-sentence-show {
  font-size: 20px;
  font-weight: 300;
}

#infos-show {
  margin-top: 60px;
}

.concert-show-infos {
  width: 800px;
}

.btn-mls-show a {
  color: white;
}

.btn-mls-show a:hover {
  text-decoration: none;
  color: white;
}

//band show

.band-poster-show img {
  height: 400px;
  width: 700px;
  border-radius: 14px;
  object-fit: cover;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
}

.band-show-infos {
  width: 700px;
}

.band_show-container {
  margin-right: 9%;
  margin-left: 9%;
  margin-top: 130px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

#future-concerts {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 80px;
}



.link-band-show {
  font-size: 20px;
  color: $mls-blue;
  font-weight: 700;
  &:hover {
}
}
.band-title-marginb {
  margin-bottom: 50px;
}
