.show-container {
  margin-right: 9%;
  margin-left: 9%;
  margin-top : 7%;
  margin-bottom : 4%;
  display: flex;
  justify-content: space-between;
}

.concert-poster-show img {
  height: 800px;
  width: 550px;
  border-radius: 14px;
  object-fit: fill;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.band-genre-show {
  color: $mls-blue;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.band-name-show {
  font-size: 64px;
  font-weight: 300;
  color: #100F3E;
}

.concert-date-show {
  font-size: 26px;
  font-weight: 800;
  color: #100F3E;
}

.concert-hour-show {
  font-size: 26px;
  font-weight: 800;
  color: #100F3E;
  border-left: solid;
  border-right: solid;
  border-width: 2px;
  border-color: rgba(55, 58, 60, 0.55);
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 55px;
  margin-right: 55px;
}

.concert-price-show {
  font-size: 26px;
  color: $mls-orange;
  font-weight: 800;
}

.concert-description-show {
  font-size: 24px;
  font-weight: 500;
  color: rgba(55, 58, 60, 0.55);
  margin-top: 60px;
}

.concert-localisation-show {
  font-size: 20px;
  color: #100F3E;
  font-weight: 800;
  margin-top: 60px;
}

#infos-show {
  margin-top: 60px;
}

.concert-show-infos {
  width: 800px;
}







.btn-mls-show a {
  color: white;
}

.btn-mls-show a:hover {
  text-decoration: none;
  color: white;
}
