<div class="footer">

  <div class="row">
    <div class="col-4">
      <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "Vector (1).png" %>
      <% end %>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
