.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("Bannerimage.jpg"));
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner h1 {
  margin: 0;
  color: #F18668;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: 1000;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


