  // card category

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Card product

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// card-concert-user

.card-concert-user {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.card-concert-user > img {
  height: 370px;
  width: 100%;
  object-fit: cover;
}

.card-concert-user .card-concert-user-infos {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 170px;
}

.card-concert-user-infos .card-concert-user-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-concert-user:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}


//Style du contenu
.card-band-genre-show {
  color: $mls-blue;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.card-band-name-show {
  font-size: 26px;
  color: #100F3E;
  margin-top: 5px;
  font-weight: 300;
}


.card-concert-date-show {
  font-size: 15px;
  color: #100F3E;
  opacity: 0.4;
  font-weight: 800;
}

.card-concert-localisation-show {
  font-size: 15px;
  color: #100F3E;
  opacity: 0.4;
  font-weight: 400;
  // margin-top: 15px;
}

.card-concert-user-pricing h2 {
  // margin-top: 15px;
  font-weight: 800;
  font-size: 16px;
}



// .card-concert-user h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-concert-user p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
//   color: black;
// }


// Div de Display des cards

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  text-decoration: none;
}

// pas de decoration sur les liens de toutes les cards
.cards a {
  text-decoration: none;
}

.spacing-div {
  padding-top: 50px;
  min-height: 90vh;
}

//cards band show

.card-show-band {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  width: 350px;
  height: 540px;
}

.band-show-cards a {
  text-decoration: none;
}

.card-show-band > img {
  height: 370px;
  width: 100%;
  object-fit: cover;
}

.card-show-band .card-show-band-infos {
  padding: 18px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 170px;
}

.card-show-band-infos .card-show-band-band {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-show-band:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.band-show-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.card-show-band-participations {
  display: flex;
  position: absolute;
  top: 14px;
  right: 24px;
}

.card-show-band-participations .card-participations-count {
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
}

.card-show-band-participations .fa-user{
  font-size: 16px;
  font-weight: 800;
  color: rgba(55, 58, 60, 0.55);
  margin-right: 5px;
  line-height: 20px;
}

.card-band-show-genre-participations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-band-date-show {
  font-size: 17px;
  color: #100F3E;
  opacity: 0.4;
  font-weight: 800;
}

.card-band-localisation-show {
  font-size: 30px;
  color: #100F3E;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 20px;
}

.band-hour-show {
  padding-left: 20px;
  margin-left: 20px;
  border-left: solid;
  border-width: 2px;
  border-color: rgba(55, 58, 60, 0.55);
}


// Genres cards spotify style

.category-choices {
  display: grid;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
  grid-template-columns: repeat(auto-fill, 15em);
  grid-gap: 8px;
  grid-auto-rows: minmax(100px, auto);
}

.category-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-origin: center;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  opacity: .7;
  flex: 0 0 30%;
  text-align: center;
  filter: grayscale(100%);
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  color: white;
  opacity: 1;
  border: solid 2px $mls-orange;
  filter: grayscale(0%);
  }

}

.label-text {
  color: white;
  font-size: 26px;
  font-family: Muli;
  font-weight: 600;
}

#grid-genre {
  top: 0px; left: 0px;
}

#tag-genre {
  top: 0px;
}


.make-it-slow {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.make-it-slow::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.make-it-slow:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  z-index: 5;
}

.make-it-slow:hover::after {
  opacity: 1;
}

