.form-block {
  width: 70%;
  background-color: white;

  margin: 2% 15%;
  padding: 20px 70px;
  border-radius: 10px;
  box-shadow: 1px 9px 20px rgba(7, 0, 255, 0.1);
  position: relative;
  top: 65px;
  z-index: 1;
  margin-bottom: 5%;
  label {
    color: $mls-blue;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    top: 22px; left: 20px;
    z-index: 2;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  legend {
    color: $mls-blue;
    font-weight: 500;
    font-size: 17px;
  }
  input {
    margin-bottom: 0px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1;
    height: 70px;
    padding: 25px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0px;
  }
}



.background-image-form {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset_path("background-form.jpg"));
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#form-price {
  width: 100%;
}

#move-radius {
  position: absolute;
  right: 20px;
}

.form-address {
  background-color: white !important;
}


.datepicker {
  width: 120%;
  background-color: white !important;
}

.form-inline-mls {
  display: flex;
  justify-content: space-between;
}

.form-inline-mls-profile {
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.vertical-mls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fixed-height-mls{
  height: 130px;
}

.form-description-tall {
  textarea {
    height: 135px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px;
  }
}

 #form-external-link {
  width: 430px;
  margin-right: 33px;
}

.upload-photo {
  text-decoration: none;
  z-index: 1;
}

.upload-photo:hover{
  text-shadow: 0 0 15px rgba(200,200,200,1);
}

.form-check {
  padding-left: 0px;
  padding-right: 0px;
}


.buttoncenter {
  display: flex;
  justify-content: center;
}

.button-form-final {
  justify-content: center;
  align-items: center;
}



#photo-preview {
  max-width: 70px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  height: 70px;
  margin-top: 5px;
}

#photo-input[type=file] {
padding:25px;
}


#button-style {
  height: 100%;
  width: 25%;
  opacity: 0.9;
  border: 0px solid black;
  &:hover {
  opacity: 1;
  color: white;
  }
}

// style des forms on focus
.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #93c4fd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 127, 251, 0.25);
}

.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none;
}

.col-form-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.label-check-box{
  position: absolute;
  left: 20px;
}

.login-check-box{
  position: absolute;
  left: 20px;
}

.btn-login-margin{
  margin-top: 20px;
  margin-bottom: 10px;
}
