.footer {
  background: #12193F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 8px 16px;
  color: rgba(0,0,0,0.3);
  width: 100%;
  z-index: 2;
  position: relative;
  bottom: 0px;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-grow: 0;
  margin-right: 12%;
}

.logofooter {
  margin-left: 8%;
}

.footer-links a {
  color: #F18668;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: center;
  margin-right: 8%;
}
.footer-links a:hover {
  opacity: 1;
}

.footer img {
  width: 100px;
}
