.search-form-index {
  width: 490px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 50px;
  border-width: 2px;
  border-color: white;
}

.search-form-button {
  margin-bottom: 20px;
}

.hover-search{
  opacity: 0.95;
}

.hover-search:hover {
  opacity: 1.0;
  color: black;
}

#query::placeholder {
  color: $mls-orange;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 25px;
  font-family: Muli;
  font-weight: 800;
}
