.search-form-index {
  width: 473px;
  margin-bottom: 10px;
}

.search-form-button {
  margin-bottom: 20px;
}

.hover-search{
  opacity: 0.8;
}

.hover-search:hover {
  opacity: 1.0;
  color: black;
}

