.search-form-control {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  background-color: $mls-blue;
  border-radius: 30px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid $mls-blue;
  border-radius: 30px;
}

.search-form-control .form-control:focus {
  border: 1px solid $mls-orange;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

#query {
  font-family: Muli;
}

#query::placeholder {
  font-family: Muli;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: $mls-blue;
}


.was-validated .form-control:valid, .form-control.is-valid {
  border-color: black;
}
