.tag-group {
  display: flex;
  flex-wrap: wrap;
}

.music-tag {
  width: 15%;
  border: 2px solid $mls-blue;
  padding: 2px 10px;
  border-radius: 50px;
  text-align: center;
  margin-right: 10px;
  color: $mls-orange;
}
