.navbar-lewagon {
  justify-content: space-between;
  background: #12193F;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-lewagon .navbar-brand {
  margin-left: 8%;
}

.collapse .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#navbarSupportedContent {
  margin-right: 8%;
  text-align: center;
}

#whitelink {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .8px;
  opacity: .6;
}

#whitelink:hover {
  opacity: 1;
}

.padding-bottom {
  padding-bottom: 4px;
  padding-top: 3px;
}


.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, 0) !important;
}
